@import 'tailwindcss';

:root {
	--background: #000000;
	--foreground: #e2e2e2;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-white: rgb(226, 226, 226);
	--font-sans: var(--font-geist-sans), sans-serif;
	--font-mono: var(--font-geist-mono), monospace;
	
	/* Custom font sizes */
	--font-size-8: 8px;
	--font-size-11: 11px;
	--font-size-12: 12px;
	--font-size-14: 14px;
	--font-size-16: 16px;
	--font-size-18: 18px;
	--font-size-24: 24px;
	--font-size-48: 48px;
}

@layer base {
	body {
		@apply text-white;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

@keyframes slideUp {
	0% {
		transform: translateY(0);
		opacity: 1;
	}
	100% {
		transform: translateY(-20px);
		opacity: 0;
	}
}
